<section>

  <div class="p-3">

    <h5>Kdy? Kde?</h5>
    <ul>
      <li>
        <b>12.5.2018</b> na Hojné Vodě. Sraz hostů bude v <b>11:00</b> <a href="https://en.mapy.cz/s/2zWXy">zde</a> (48°43'54.216"N, 14°43'27.418"E).
      </li>
      <li>
        Ve <b>12:00</b> se vydává svatební průvod volnou procházkou na místo obřadu - <a href="https://en.mapy.cz/s/2zX0C">tábořiště na louce u Mlýnského
        vrchu</a>
      </li>
      <li>
        Půjdeme nejméně obtížnou cestou. Ti, kteří by si to chtěli zkrátit, mohou jít lesem. V tom případě doporučujeme nepromokavou pevnou obuv a křovinořez.
      </li>
      <li>
        Ve <b>13:00</b> proběhne obřad samotný, následovaný obligátním focením. Během obřadu a focení prosíme hosty o formální a slušivý vzhled. Pohorky, ve
        kterých půjdeme, dočasně šoupneme do přilehlého remízku.
      </li>
      <li>
        V <b>cca. 14:00</b> vyrazí svatební průvod směrem inverzní k prvnímu.
      </li>
      <li>
        Po příchodu zpět na základnu nás čeká zbytek dne plný neformální zábavy, dobrého jídla a pití :-)
      </li>
    </ul>

    <h5>Jak?</h5>
    <ul>
      <li>
        Prosíme svatebčany o optimalizaci vozového parku. Parkoviště na Hojné Vodě je sice schopno pojmout mnoho aut, ale řidič místního autobusu, pro nějž je
        parkoviště primárně určeno, by z toho mohl být poněkud hořký.
      </li>
      <li>
        Před odchodem na obřad bude prostor na to zaklidit si věci, převléknout se, ... a tak podobně. Záleží jen na každém, jak moc včas dorazí.
      </li>
      <li>
        Dopoledne bude připraven i lehký dlabanec a špiritus na posilnění.
      </li>
    </ul>

    <h5>Co?</h5>
    <ul>
      <li>
        Dresscode během obřadu: <i>creative black tie</i>. Před a po obřadu: <i>casual dressy</i>.
      </li>
      <li>
        Ti, kteří nemají napsané ubytování, nechť si nezapomenou vzít náležitosti na spaní venku, nebo si zařídit spaní jinak.
      </li>
      <li>
        Doporučujeme hostům, aby se vybavili i na možnou nepřízeň počasí. Skoro vše se bude odehrávat venku.
      </li>
      <li>
        Opravdu doporučujeme hostům, aby se vybavili i pro neřízeň počasí. Vloni v Novohradských horách začatkem května sněžilo.
      </li>
      <li>
        Určitě si vezměte alespoň deštníky a dobré boty na přezutí.
      </li>
    </ul>

    <h5>Proč?</h5>
    <ul>
      <li>
        <b>Svatební dary nechceme.</b> Pokud nás někdo chce obdarovat, může finančně.
      </li>
      <li>
        Jestli skončíme se stádem porcelánových jelenů a šesti ručními mixéry, tak si nás nepřejte :-)
      </li>
    </ul>

    <div class="video-wrap text-center mt-4 mb-2">
      <div><i>Kdo se připraví na tohle, toho nic nepřekvapí...</i></div>
      <div class="video-inner-wrap col-10 offset-1 col-lg-8 offset-lg-2">
        <div class="video">
          <iframe width="100%" height="100%"
                  src="https://www.youtube.com/embed/ksn1zUkcKys"
                  frameborder="0"
                  allow="autoplay; encrypted-media"
                  allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
  <img src="images/oznameni.jpg" class="invitation">
</section>
