.navbar {
  box-shadow: 6px 6px 25px 0 rgba(0, 0, 0, 0.5);
}

.nav-link {
  padding: 0.7rem 1.5rem;
}

.login {
  margin-left: auto;
  float: right;
}

label {
  width: 100%;
}
//
//.modal .button {
//  text-wrap: normal;
//}
