
.navbar {
  box-shadow: 6px 6px 25px 0 rgba(0, 0, 0, 0.5);
}

.nav-link {
  padding: 0.7rem 1.5rem;
}

.login {
  margin-left: auto;
  float: right;
}

label {
  width: 100%;
}

.headline {
  font-family: 'Sonsie One', serif;
  font-size: 28px;
  margin-top: auto;
  margin-bottom: auto;
  text-shadow: 2px 2px #aaa;
}

@media (max-width: 992px) {
  .headline {
    font-size: 22px;
    text-shadow: 1px 1px #aaa;
  }
}
@media (max-width: 768px) {
  .headline {
    font-size: 16px;
  }
}

.bird {
  width: 100%;
  height: auto;
  margin-top: auto;
}

.bird-wrap{
  margin-top: auto;
}
